# Supabase Public & Private Configuration
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Security & Tokens
TRACKING_TOKEN_SECRET=""

# Runtime Environment
NODE_ENV="development"
DISABLE_HMR="false"
